<%-include("partials/header")%>
<%-include("partials/blocks/navigation")%>

        <div class="container">
    

            <%for(post of posts){ if(post.status){%>

            <div class="single-page-artical">
                <div class="artical-content">
                    <h2>
                        <%=post.title%>
                    </h2>
                    <h3>
                        <%=post.subtitle%>
                    </h3>
                    <img style="height: 400px;"  class="img-responsive" src="/uploads/<%=post.image%>" alt=" " />
                    <p>
                        <%-post.content%>
                    </p>
                </div>
                <div class="artical-links">
                    <ul>
                        <li><small> </small><span><%=post.createdAt.toDateString()%></span></li>
                        <li><a href=""><small class="admin"> </small><span><%=post.user.name%></span></a></li>
                        <!-- <li><a href="/"><small class="posts"> </small><span>View posts</span></a></li> -->
                    </ul>


                    <%if(comments.length > 0){%>
                        <div>
                            <h2 class="mt-3">Comments</h2>
                            <%for(comment of comments){if(post._id.equals(comment.post._id) && comment.status){%>
                                <ul>
                                    <li><small> </small><span><%=comment.name%></span></li>
                                    <li><small> </small><span><%=comment.comment%></span></li>
                                </ul>
                            <%}}%>
                        </div>
                    <%}%>
                    <form action="/addcomment" method="POST" style="font-family: LobsterTwo-Regular; font-size: 1.5rem;">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="post" value="<%=post._id%>" id="exampleInputEmail1" aria-describedby="emailHelp"  style="font-size: 1.2rem;">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="name" value="<%=data.name%>" id="exampleInputEmail1" aria-describedby="emailHelp"  style="font-size: 1.2rem;">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Add Comment</label><br>
                            <input type="text" class="form-control" name="comment" id="exampleInputPassword1" placeholder="ekhane comment likhun" style="font-size: 1.2rem;">
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary btn-lg btn-block mb-4" style="font-size: 1.2rem; width: 100px">Post</button>
                        </p>
                    </form>


                    
                </div>
            </div>
            <%}else{%>

            <h3>News not available</h3>
            <% }} %>
        </div>
            <!--  footer -->
<%-include("partials/blocks/footer")%>
<%-include("partials/footer")%>
      