<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	  <div class="row justify-content-center">
             <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Doctors</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </p>
                </div>
            </div>
        </div>

      

	  
    <div class="row shuffle-wrapper portfolio-gallery">
		<% for(showDoctor of displayData) { if(showDoctor.status){%>
		
      	<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&	 quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
						<a href="/doctor-single/<%-showDoctor.doc_slug%>"><img src="uploads/<%-showDoctor.doc_image%>" alt="doctor-image" class="img-fluid w-100"></a>	
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="/doctor-single/<%-showDoctor.doc_slug %>"><%-showDoctor.doc_name%></a></h4>
                	<p><%-showDoctor.doc_dept.dept_name%></p>
                </div> 
				<div><a href="/doctor-single/<%-showDoctor.doc_slug%>"><button class="btn btn-primary">Know more</button></a></div>
	      	</div>
      	</div>

		  <%} } %>
    </div>
	
  </div>
</section>
<!-- /portfolio -->